@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);



body {
    
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
	color: #fff;
	font-family: 'Open Sans';
	letter-spacing: -1px;
	padding: 10% 10% 0%;
	margin: 0;
	-webkit-text-stroke: 0.0px black;
    text-align: center;

}
.navriba{

	
}
.vorm{
	text-align:center;
	
}
.regavorm{
	width: 30em;
    margin:0 auto;
}
.regatabel{
	padding-left:6em;	
}
.regaalert{
	margin-top:1.5em;
}
.inputs{
	margin:1em 1em 1em 1em;

}
#sletter{
	width: 40%;
	
}
.esimene{
	width: 20em;
	border-right: solid 1px #999;
	height: 35em;
}
.teine {
	font-family: 'Dancing Script', cursive;
	color: #ededed;
}
.teine h1{
	font-size: 5em;
	font-weight: bold;
}
.logo {
	font-family: 'Dancing Script', cursive;
	color: #fff;
	font-size:2em;
	text-decoration: none;
	margin-left: -3em;
}
#logout{
	font-size:1.3em;
	color: #fff;
		
}
.logo:hover{
	text-decoration: none;
	color: #777;
	font-size:2em;
	
}
#loginupud{
	padding-left: 2em;
}
.rega{
	font-family: 'Dancing Script', cursive;
	font-size: 8em;
	color: white;
	margin-bottom:1em;
	
}
#reganupp{
	margin-top:2em;
	width: 14em;
    margin-left: 2em;
}
#minualert{
	margin-top: 2em;
    width: 14em;
    
    padding-top: 15px;
	
}
.feed{
	background-color:#ededed;
	border-radius: 0.25em;
	margin-top:-10%;
	
}
.feed-column{
	width:50%;
	margin-left:25%;
}
.feed-column h4{
	text-align: left;
	padding-left: 0.25em;
}
.feed-column p{
	text-align: left;
	padding-top:1em;
	padding-left:0.5em;
}
.feed-image{
	margin-top: 0;
	width: 100%;
}
.feed-info{
	margin-top: 5em;


}
.upload-nupp{
	margin-top: 1em;
	margin-bottom: 2em !important;
}
.comment-section{
	padding: 0.5em 0.5em 0.5em 0.5em;
	background-color: white;	
	border-radius: 0.25em;
}
.comment-post{
	display: inline-flex;
	width: 100%;
}
#postitaja{
	text-align: left;
    font-size: 1.5em;
    padding-top: 2em;
    margin-top: 0;
    display: inline-block;
}
#komenteerimisala{
	margin-bottom: 4em;
}
#kommenteeria{
	font-weight: bold;
}
.upload{
	margin-left:25%;
	width: 50%;
	margin-bottom: 10%;
	padding-top: 2em;
	background-color:white; 
}
.lisa{
	color:white !important;
	font-size:1.5em;
}
.file{
	margin-bottom:3em;
	width: 80% !important;
	margin-left:10%;
}
.sinu{
	font-family: 'Dancing Script', cursive;
	font-size: 8em;
	color: black;
	margin-bottom:1em;
}
.postita{
	font-family: 'Dancing Script', cursive;
	font-size: 8em;
	color: white;
	margin-bottom:0.5em;
}
.x{
	color: black;
	font-size: 1.5em;
	padding-left: 55%;
}
.x:hover{
	text-decoration: none;
	color: #000;
	font-size:1.5em;
	
}

@media screen and (max-width: 720px) {
    
 	.teine {
 		display: none;
 	}   
    .esimene {
		border-right: none;
		margin:0 auto;
    }
 
}


